{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static  'blog/css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>

     <a href="{% url 'home' %}"> HOME </a>
     <a href="{% url 'create' %}"> CREATE NEW POST </a>
     <a href="{% url 'about' %}"> ABOUT </a>
     <a href="{% url 'contact' %}"> CONTACT </a>








 </nav>

 <img src="{% static  'blog/images/logo2.jpg' %}" width="230">

 <h2> THIS IS CONTACT </h2>

</body>
</html>